openapi: 3.0.0
info:
  title: Simple API
  version: 1.0.0
paths:
  /:
    get:
      responses:
        '200':
          description: OK
  /api:
    get:
      responses:
        '200':
          description: OK
