---
- name: Déploiement du VNF Firewall
  hosts: localhost
  vars:
    project_dir: /home/ruben/Orchestration/network-orchestration
  tasks:
    - name: Supprimer le conteneur existant (si présent)
      command: docker rm -f vnf-firewall
      ignore_errors: yes
    - name: Lancer le conteneur Firewall
      shell: |
        docker run -d --name vnf-firewall --network net-chain -p 8080:8080 \
        -v {{ project_dir }}/openapi.yaml:/api.yaml \
        -e APIFW_URL=http://0.0.0.0:8080 \
        -e APIFW_API_SPECS=/api.yaml \
        -e APIFW_SERVER_URL=http://vnf-lb:80 \
        -e APIFW_REQUEST_VALIDATION=DISABLE \
        -e APIFW_RESPONSE_VALIDATION=DISABLE \
        wallarm/api-firewall
