- name: Test Network Flow
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Check firewall port
      ansible.builtin.uri:
        url: "http://localhost:{{ fw_port }}"
        method: GET
        status_code: [200, 301, 302, 401, 403, 404]
      register: fw_res

    - name: Check lb port
      ansible.builtin.uri:
        url: "http://localhost:{{ lb_port }}"
        method: GET
        status_code: [200, 301, 302, 401, 403, 404]
      register: lb_res

    - name: Check web port
      ansible.builtin.uri:
        url: "http://localhost:{{ web_port }}"
        method: GET
        status_code: [200, 301, 302, 401, 403, 404]
      register: web_res
